.multi-choice-display {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: row-reverse;
}

.multi-choice-display .display-column {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.multi-choice-display .display-title {
    font-size: 24px;
    border: 0;
}

.multi-choice-display .display-description {
    font-size: 24px;
    border: 0;
    margin: 10px 0;
}

.display-column .choice-grid {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    gap: 5px;
}

.multi-choice-display .choice {
    
    border: 1px solid rgb(237, 237, 237);
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    background-color: rgba(212, 212, 212, 0.1);

}

.multi-choice-display .choice h2 {  
    min-width: 100%;
    align-items: center;
    display: flex;
    opacity: 1;
    font-size: 18px;
    color: rgba(100, 100, 100, 0.452);
    transform: none;
}

.multi-choice-display .welcome-title {
    color: rgb(0, 0, 0);
    font-size: 38px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    padding: 0px;
    overflow-y: hidden;
    resize: none;
    height: 62px;
    min-height: 62px;
    max-height: 302px;
}

.multi-choice-display .welcome-description {color: rgb(0, 0, 0);
    font-size: 1.75em;
    font-family: Arial, sans-serif;
    padding: 0px;
    overflow-y: hidden;
    resize: none;
    height: 41px;
    min-height: 41px;
    max-height: 197px;}

.multi-choice-display .welcome-btn {
    background-color: rgb(212, 212, 212);
    color: rgb(0, 0, 0);
    border-radius: 16px;
}