.single-form {
    width: 90%;
    background-color: #F9F9F9;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3px 0;
    cursor: pointer;
}

.single-form:hover {
    background-color: #F4F4F5;
}

.single-form img {
    width: 15px;
    opacity: 0.4;

}

.single-form .move {
    cursor:grab;
}

.single-form .content {
    flex: 1 1 0;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}